<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Cadastrar novo</mat-label>
        <mat-select formControlName="tipo">
            <mat-option value="aluno">Novo Aluno</mat-option>
            <mat-option value="professor">Novo Professor</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="!!form.get('tipo')?.value">
        <div class="row">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input type="text"
                       matInput
                       formControlName="nome">
            </mat-form-field>
            <mat-form-field>
                <mat-label>CPF</mat-label>
                <input type="text"
                       matInput
                       formControlName="cpf">
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Data Nascimento</mat-label>
            <input matInput
                   formControlName="dataNascimento"
                   [matDatepicker]="dataNascimentoPicker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix
                                   [for]="dataNascimentoPicker"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimentoPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Endereco</mat-label>
            <input type="text"
                   matInput
                   formControlName="endereco">
        </mat-form-field>
        <mat-form-field *ngIf="form.get('tipo')?.value === 'aluno'">
            <mat-label>Número Matrícula</mat-label>
            <input type="text"
                   matInput
                   formControlName="numeroMatricula">
        </mat-form-field>
        <ng-container *ngIf="form.get('tipo')?.value === 'professor'">
            <mat-form-field>
                <mat-label>Especialidades</mat-label>
                <input type="text"
                       matInput
                       formControlName="especialidade">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Conhecimentos</mat-label>
                <input type="text"
                       matInput
                       #conhecimentoInput>
                <button matSuffix
                        mat-icon-button
                        (click)="adicionarConhecimento(conhecimentoInput.value);conhecimentoInput.value = ''">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <div class="conhecimentos">
                <div class="conhecimento"
                     *ngFor="let conhecimento of conhecimentos">
                    {{conhecimento}}
                </div>
            </div>
        </ng-container>
    </ng-container>
</form>
<div mat-dialog-actions>
    <button mat-button
            (click)="cancelar()">Cancelar</button>
    <button mat-button
            (click)="confirmar()"
            cdkFocusInitial>Ok</button>
</div>
