<mat-drawer-container autosize>
  <mat-drawer #drawer
              mode="side"
              opened>
    <div class="circle"></div>
    <div class="list">
      <a class="item"
         [routerLink]="item.path"
         routerLinkActive="active"
         *ngFor="let item of navegacao">
        {{item.label}}
      </a>
    </div>
  </mat-drawer>
  <div>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
