:host {
  display: flex;
  flex-direction: column;
}
mat-toolbar {
  min-height: 64px;
}

.container {
  height: calc(100vh - 64px);
  overflow: auto;

  display: flex;
  flex-direction: row;
  gap: 12px;
  > * {
    flex: auto;
  }
}
.col {
  height: calc(100vh - 64px);
  overflow: auto;

  display: flex;
  flex-direction: column;
}
