<form *ngIf="form"
      [formGroup]="form">
    <mat-form-field>
        <mat-label>Número Matricula</mat-label>
        <input matInput
               type="text"
               formControlName="numeroMatricula">
    </mat-form-field>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput
               type="text"
               formControlName="cpf">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput
               type="text"
               formControlName="nome">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Data Nascimento</mat-label>
        <input matInput
               formControlName="dataNascimento"
               [matDatepicker]="dataNascimentoPicker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix
                               [for]="dataNascimentoPicker"></mat-datepicker-toggle>
        <mat-datepicker #dataNascimentoPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Endereço</mat-label>
        <input matInput
               type="text"
               formControlName="endereco">
    </mat-form-field>
</form>
